.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
  }
  .footer-content{
    display: flex;
    width: 326px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .footer-input{
   display: flex;
   width: 305px;
   padding: 14px 20px;
   align-items: center;
   gap: 6px;
   border-radius: 8px;
   border: 1px solid #262626;
   background: #141414; 
  }
  .header-2{
    flex: 1 0 0;
    color: #999;
  }
  .footer-home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .footer-section{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
  }
  .footer-heading{
  color: #999;
  font-family: "Urbanist";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  }
  .footer-list{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
  }
  .website-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .right-terms{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .social-image{
    display: flex;
    gap: 16px;
  }

@media only screen and (max-width: 768px) {
  .footer-input{
    width: 100%;
  }
  .footer-home{
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #262626; 
  }
  .footer-items{
    display: flex;
    flex-direction: column;
  }
  .footer-content{
    padding-bottom: 50px;
  }
  .footer-section{
    margin-left: 0px;
    display: grid;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-home:nth-child(odd) {
    border-right: 1px solid #262626;
  }
  .footer-home1{
    margin-top: -130px;
  }
  .social-image{
    order: 1;
  }
  .right-terms{
    order:2;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .term-text{
    margin-top: -20px;
  }
  .website-right{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1120px) {
   
.footer-input{
    width: 100%;
  }
  .footer-home{
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .footer-items{
    display: flex;
    flex-direction: column;
  }
  .footer-content{
    padding-bottom: 50px;
  }
  .footer-section{
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
}