@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

.App{
  background-color: black;
  font-family: "Urbanist";
  color: #ffffff;
}
.header-content{
  line-height: 27px;
  padding: 80px 0px;
  padding-left: 80px;
}
.header-content p{
 color: #999999;
 font-size: 18;
 font-weight: 500;
 word-wrap: break-word;
}
.header-button{
  margin-top: 50px;
  margin-bottom: 60px;
  display: inline-flex;
  gap:20px;
  font-weight: 500;  
}
button{
  background-color: black;
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #262626;
}
.style-button{
  font-size: 14px;
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #262626;
  background: #703BF7;
}
.header-container{
  display: flex;
  flex-direction: row;
  gap:10px;
  word-wrap: break-word; 
}
.header1 {
  color: #ffffff;
  background: #1A1A1A;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #262626;    
}
.header1 p,.h4{
  background: #1A1A1A;
}
.circle-image{
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.center-image{
  display: flex;
  margin-top: -630px;
  width: 200px;
  height: 200px;
  padding: 35.182px;
  align-items: flex-start;
  gap: 11px;
}
.container-fluid-1{
  padding: 10px;
  border: 1px solid #262626;
  background: #141414;
  box-shadow: 0px 0px 0px 6px #191919;
}
.sub-container{ 
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 16px;
}
.icon-item{
  width: 100%;
  display: flex;
  padding: 30px 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1A1A1A;
}
.space-container{
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.img-1{
  position: relative;
  left: 100px;
}
.text{
  font-size: 16px;
  justify-content: center;
  text-align: center;
}
.img-container {
  padding:10px;
  border-radius: 100px;
  border: 1px solid #A685FA;
}
.properties{
  padding: 30px;
}
.frame-icon{
  width: 14.4px;
  height: 14.4px;
  flex-shrink: 0;
}
.container-fluid-2{
  margin-bottom: 20px;
}
.paragraph1{
  margin-top: 10px;
  color: #999999;
}
.properties-button{
  text-align: right;
  align-items: right;
  margin-left: 110px;
}
.a-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.a-box{
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #141414;
}
.a-b-img{
  display: block;
  width: 100%;
  height: 250px;
}
.a-b-img img{
  width: 100%;
  height: 255px;
}
.a-b-text{
  line-height: 150%;
  width: 100%;
  height: 40%;
  display:flex;
  flex-direction: column;
}
.a-b-text h5{
  margin-top: 20px;
}
.b-box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}
.b-items{
  display: flex;
  padding: 6px 14px;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  border-radius: 28px;
  border: 1px solid #262626;
  background: #141414;
}
.c-box{
  margin-top: 24px;
  display: flex;
  gap: 40px;
}
.price-box{
  flex-direction: column;
}
.header2 {
  color: #999999;
}
.price-size{
  font-size: 20px;
  font-weight: 600;
}
hr{
  margin-top: 40px;
}
.b-container{
 display: flex; 
 padding-top: 16px;
 justify-content: space-between;
 align-items: flex-start;
 align-self: stretch;
}
.page-number{
  color: #999999;
  font-weight: 500;
}
.page-number strong{
  color: #ffffff;
  font-weight: 500;
}
.arrow-mark{
  display: flex;
  gap:5px;
  font-weight: 400;
}
.react-icon{
  padding: 8px;
  border-radius: 100px;
  border: 1px solid #262626;
}
.z-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.z-box{
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #141414;
}
.z-image{
  display: flex;
  padding: 8px 9px;
  align-items: flex-start;
  gap: 10px;
}
.star-image{
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #262626;
}
.story-para{
  font-size: 16px;
  font-weight: 400;
}
.profile-detail{
  display: flex;
}
.profile-name{
  margin-left: 10px;
}
.name-profile{
  font-size: 18px;
  margin-bottom: auto;
}
.question-title{
  font-size: 20px;
  font-weight: 600;
}
.button-style{
  font-size: 14px;
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #262626;
  background: #141414;
}
.journey{
  background-color: #141414;
}
.journey-button{
  margin-left: 140px;
}
.footer-items{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
}
.footer-content{
  display: flex;
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer-input{
 display: flex;
 width: 305px;
 padding: 14px 20px;
 align-items: center;
 gap: 6px;
 border-radius: 8px;
 border: 1px solid #262626;
 background: #141414; 
}
.header-2{
  flex: 1 0 0;
  color: #999;
}
.footer-home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer-section{
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  flex: 1 0 0;
}
.footer-heading{
color: #999;
font-family: "Urbanist";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.footer-list{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 16px;
}
.website-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.right-terms{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.social-image{
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 768px) {

  .header-change .row {
    display: flex;
    flex-direction: column-reverse; 
  }
  .header-image{
    margin-top: 20px;
     border-radius: 25px;
     padding: 15px;
  }
 .header-content {
    margin-top: 20px; 
  }  
  .header-content{
    padding-left: 10px;
    padding: 15px;
  }
  .circle-image{
    justify-content: flex-start;
    margin-left: -20px;
  }
  .center-image{
    margin-top: -720px;
  }
  .properties{
    padding: 15px;
  }
  .container-fluid-1{
    padding: 10px;
    margin: 20px;
  }
  .header-button{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-container{
    gap:12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header1{
   display: flex;
   padding: 16px;
   flex-direction: column;
   align-items: center;
   gap: 2px;
   flex: 1 0 0;
  } 
  .sub-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 10px;
  }
  .icon-item {
    padding: 20px 14px;
    align-items: center;
    gap: 14px;
    width: 100%;
  }
  .img-1{
    position: relative;
    left: 60px;
  }
  .a-container,.z-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .a-box{
    padding: 24px;
  }
  .b-box{
    gap: 6px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .z-box{
    padding: 30px;
  }
  .col-lg-9, .col-lg-3 {
    width: 100%;
  }
  .properties-button {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
  .b-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-number {
    order: 2;
    margin-top: -30px;
  }
  .arrow-mark {
    order: 0;
    justify-content: space-between;
    width: 100%;
  }
  .arrow-mark .react-icon {
    width: 48px;
    height: 48px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .journey-items{
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  .journey-button{
    margin-left: 0px;
  }
  .style-button{
    width: 100%;
  }
  .footer-input{
    width: 100%;
  }
  .footer-home{
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #262626; 
  }
  .footer-items{
    display: flex;
    flex-direction: column;
  }
  .footer-content{
    padding-bottom: 50px;
  }
  .footer-section{
    margin-left: 0px;
    display: grid;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-home:nth-child(odd) {
    border-right: 1px solid #262626;
  }
  .footer-home1{
    margin-top: -130px;
  }
  .social-image{
    order: 1;
  }
  .right-terms{
    order:2;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .term-text{
    margin-top: -20px;
  }
  .website-right{
    display: flex;
    flex-direction: column;
  }
}
@media screen  and (max-width: 400px){
  .circle-image{
    justify-content: flex-start;
    margin-left: -20px;
  }
  .center-image{
    margin-top: -850px;
  }
  .sub-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1012px) {
   
  .header-image{
    margin-top: 20px;
     border-radius: 25px;
     padding: 15px;
  }
  .circle-image{
   display: none;
  }
  .sub-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 10px;
  }
  .icon-item {
    padding: 20px 14px;
    align-items: center;
    gap: 14px;
    width: 100%;
  }
  .img-1{
    position: relative;
    left: 150px;
  }
  .a-container,.z-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .a-box{
    padding: 24px;
  }
  .b-box{
    gap: 6px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .properties-button {
    margin: 20px auto;
    text-align: center;
  }
  .journey-button{
    margin-left: 300px;
  }
  .footer-input{
    width: 100%;
  }
  .footer-home{
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .footer-items{
    display: flex;
    flex-direction: column;
  }
  .footer-content{
    padding-bottom: 50px;
  }
  .footer-section{
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
}